

        /* Style the gallery section */
        .gallery {
            background-color: #f2f2f2;
            padding: 20px;
            text-align: center;
        }

        /* Style the individual slides */
        .gallery-image {
            display: none;
            max-width: 100%; /* Make sure images fill the container */
            height: auto;
            width: 300px; /* Adjust the width to your desired size */
            margin: 0 auto; /* Center the image horizontally */
        }
        
        #prevBtn {
            float: left;
        }

        #nextBtn {
            float: right;
        }


        /* Style the controls */
        .controls {
            margin-top: 10px;
        }

        .controls button {
            background-color: #333;
            color: #fff;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }

        
