header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the gallery section */
.gallery {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

/* Style the individual slides */
.gallery-image {
    display: none;
    max-width: 100%; /* Make sure images fill the container */
    height: auto;
    width: 300px; /* Adjust the width to your desired size */
    margin: 0 auto; /* Center the image horizontally */
}

/* Style the controls */
.controls {
    margin-top: 10px;
}

.controls button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

/* Style the text section */
.text {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
}

/* Style the flexbox section */
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
}

.flex-item {
    width: calc(25% - 20px); /* Four columns with some spacing in between */
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

/* Style the contact section */
.contact {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact p {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Style the footer */
footer {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
