<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fredrik Andersen</title>
<script defer src="https://unpkg.com/vue@3"></script>
<script defer src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<script defer src="script.js"></script>
<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css2?family=Phudu:wght@700&family=Questrial&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<header>
    <nav>
        <ul id="menu">
            <!-- Länkar ska in här -->
            <li><a href="Projekt1.html">Hem</a></li>
            <li><a href="Produkt.html">Webbshop</a></li>
            <li><a href="Projekt1.html">Om oss</a></li>
            <li><a href="Kontakt.html">Kontakt</a></li>
        </ul>
    </nav>
    </header>
    <div id="personApp">
    <div class="grid-container">
    <div class="grid-item item10">
        <div class="rubrik">
        <h1> Beyond Bounds Adventure</h1>
        <h3> Här väntar ditt nästa äventyr </h3>
    </div>
    </div>

        <div class="grid-item item11">
            <h1>Fredrik Andersen</h1>
        </div>
        <div class="grid-item item12">
            <img src="PorträttFredrik.png" alt="Bild på Fredrik" class="thumbPersonal">
        </div>
        <div class="grid-item item13">
            <div class="wrap">
                <div class="bar" id="barFredrik1">
                    <h3> Kul kille </h3>
                    <span> </span>
                </div>
                <div class="bar" id="barFredrik2">
                    <h3> Lejonbrottning </h3>
                    <span> </span>
                </div>
                <div class="bar" id="barFredrik3">
                    <h3> Lokalsinne </h3>
                    <span> </span>
                </div>
                <div class="bar" id="barFredrik4">
                    <h3> Djurupplevelse </h3>
                    <span> </span>
                </div>
            </div>
        </div>
    <div class="grid-item item14">
        <div v-for="person in personer">
            <div v-if="person.id === 3">
                <hr>
                <p> {{person.text}} </p>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="grid-item item15">
        <h2>Tidigare projekt</h2>
    </div>

    <div class="grid-item item16">
        <img src="" alt="Från en resa" class="thumbPersonal">
    </div>

    <div class="grid-item item170">
        <ul>
            <li></li>
        </ul>
    </div>

    <div class="grid-item item171">
        <img src="" alt="Från en resa" class="thumbPersonal">
    </div>

    <div class="grid-item item172">
        <ul>
            <li></li>
        </ul>
    </div>

    <div class="grid-item item173">
        <img src="" alt="Från en resa" class="thumbPersonal">
    </div>

    <div class="grid-item item174">
        <ul>
            <li></li>
        </ul>
    </div>

    <div class="grid-item item175">
        <img src="" alt="Från en resa" class="thumbPersonal">
    </div>

    <div class="grid-item item176">
        <ul>
            <li></li>
        </ul>
    </div>
    

    <div class="grid-item item177">
        <img src="" alt="Från en resa" class="thumbPersonal">
    </div>

    <div class="grid-item item178">
        <ul>
            <li></li>
        </ul>
    </div>

    <div class="grid-item item179">
                <div class="contact">
                    <h3>Kontakt Information</h3>
                    <p>BeyondBoundsAdventure@xtreme.com</p>
                    <p>Telefon: (+46) 456-7890</p>
                    <p>Address: Drottninggatan 3, Örebro</p>
                    <br>
                    </div>
                    <footer>
                        <p>&copy; 2023 Your Website</p>
                    </footer> 
            </div>
    </div>
    </div>


</body>
</html>