<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="script.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
</head>
<body>
    <div id="kundvagnApp">
        <div class="product" v-for="(product, index) in products" :key="index">
            <h3>{{ product.name }}</h3>
            <p>Pris: ${{ product.price }}</p>
            <button @click="addToCart(product)">Lägg till i kundvagn</button>
        </div>
    
        <div id="cart">
            <h2>Kundvagn</h2>
            <ul>
            <!-- för varje cart-element så skapas nya element i en lista där pris visas och kan tas bort med en knapp -->
                <li 
                v-for="(item, index) in cart" :key="index">{{ item.name }} - ${{ item.price }} 
                <button @click="removeFromCart(index)">Ta bort</button>
               </li>
            </ul>
            <p>Totalt: ${{ cartTotal }}</p>
        </div>
    </div>    
</body>


</html>