<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkter</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="https://unpkg.com/vue@3"></script>
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <header>
        
          <nav>
                <ul id="menu">
                    <!-- Länkar ska in här -->
                    <li><a href="Projekt1.html">Home</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
    </header>
    <div id="produktApp">
    <div class="grid-container">
       <div class="grid-item item20">
        <img src="" alt="Simon som upptäcker djungeln" class="thumb">
        
       </div>
        
       <div class="grid-item item21">
        <div v-for="produkt in produkter">
            <div v-if="produkt.id === 1">
                <ul>
                <li>{{produkt.titel}}</li>
                <li>{{produkt.plats}}</li>
                <li>{{produkt.tid}}</li>
                <li>{{produkt.boende}}</li>
                <li>{{produkt.guider}}</li>
                <li>Pris: {{produkt.pris}} kr per person</li>
                </ul>
                </div>
            </div>
        </div>
       
       

       <div class="grid-item item22">
            <div v-for="produkt in produkter">
                <div v-if="produkt.id === 1">
                    <h2>Amazonas, en djungel du sent kommer glömma.</h2>
                    <br>
                     <p>{{produkt.langText}}<p> 
                </div>
            </div>
    </div>
    <div class="grid-item item23">
        <img src="" alt="Måns som visar runt Kina" class="thumb">
        </div>
       <div class="grid-item item24">
        <div v-for="produkt in produkter">
            <div v-if="produkt.id === 2">
                <ul>
                <li>{{produkt.titel}}</li>
                <li>{{produkt.plats}}</li>
                <li>{{produkt.tid}}</li>
                <li>{{produkt.boende}}</li>
                <li>{{produkt.guider}}</li>
                <li>Pris: {{produkt.pris}} kr per person</li>
                </ul>
                </div>
            </div>
        </div>
        <div class="grid-item item25">
            <div v-for="produkt in produkter">
                <div v-if="produkt.id === 2">
                    <h2>Asien, kontinenten där det finns mycket att se.</h2>
                    <br>
                     <p>{{produkt.langText}}<p> 
                </div>
            </div>
    </div>
    <div class="grid-item item26">
        <img src="" alt="Fredrik som besegrar en isbjörn" class="thumb">
        </div>
       <div class="grid-item item27">
        <div v-for="produkt in produkter">
            <div v-if="produkt.id === 3">
                <ul>
                <li>{{produkt.titel}}</li>
                <li>{{produkt.plats}}</li>
                <li>{{produkt.tid}}</li>
                <li>{{produkt.boende}}</li>
                <li>{{produkt.guider}}</li>
                <li>Pris: {{produkt.pris}} kr per person</li>
                </ul>
                </div>
            </div>
        </div>
        <div class="grid-item item28">
            <div v-for="produkt in produkter">
                <div v-if="produkt.id === 3">
                    <h2>Nordpolen, resan du alltid drömt om.</h2>
                    <br>
                     <p>{{produkt.langText}}<p> 
                </div>
            </div>
    </div>
    <div class="grid-item item29">
        <img src="" alt="Felix som står vid sin jeep" class="thumb">
        </div>
       <div class="grid-item item30">
        <div v-for="produkt in produkter">
            <div v-if="produkt.id === 4">
                <ul>
                <li>{{produkt.titel}}</li>
                <li>{{produkt.plats}}</li>
                <li>{{produkt.tid}}</li>
                <li>{{produkt.boende}}</li>
                <li>{{produkt.guider}}</li>
                <li>Pris: {{produkt.pris}} kr per person</li>
                </ul>
                </div>
            </div>
        </div>
        <div class="grid-item item31">
            <div v-for="produkt in produkter">
                <div v-if="produkt.id === 4">
                    <h2>Afrika, resan du aldrig kommer ha råd med.</h2>
                    <br>
                     <p>{{produkt.langText}}<p> 
                </div>
            </div>
    </div>


      <!-- missa inte att döpa grid-itemet!!  -->
       <!-- <div class="grid-item item2">
       
            <div class="contact">
            <h3>Contact Information</h3>
            <p>Email: info@example.com</p>
            <p>Phone: (123) 456-7890</p>
            <p>Address: 123 Main Street, City</p>
            </div>
            <footer>
                <p>&copy; 2023 Your Website</p>
            </footer>
        
    </div> -->


    </div> 
</div>
    
    
</body>
</html>