<!DOCTYPE html>
<html lang ="sv">
<head>
    <meta charset="UTF-8">
    <title>Your Website</title>
    <!-- You can link your CSS file here -->
    <link rel="stylesheet" href="style.css">
    <script defer src="https://unpkg.com/vue@3"></script>
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
        <!-- Header with Menu -->
        <header>
            <nav>
                <ul id="menu">
                    <!-- Länkar ska in här -->
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="Kontakt.html">Kontakt</a></li>
                    <li><a href="Kundvagn.html">Kundvagn</a></li>
                </ul>
            </nav>
            
            
        </header>
        <div class="grid-container">
            <div class="grid-item item1">
                <div class="rubrik">
                    <h1> Beyond Bounds Adventure</h1>
                    <h3> Här väntar ditt nästa äventyr </h3>
                 </div>
            </div>
            
            <div class="grid-item item2">
                <section class="gallery">
                    <div class="slideshow">
                        <div class="controls">
                            <button id="prevBtn"> &larr; </button>
                        </div>
                        <img src="BildspelApor.png" alt="Bild på apor" class="gallery-image">
                        <img src="BildspelBjörn.png" alt="Bild på Isbjörn" class="gallery-image">
                        <img src="BildspelSavann.png" alt="Bild på lejon" class="gallery-image">
                        <img src="BildspelTaj.png" alt="Bild på Taj mahal" class="gallery-image">
                        <img src="BildspelMur.png" alt="Bild på kinesiska muren" class="gallery-image">
                        <img src="BildspelDjungel.png" alt="Bild från djungel" class="gallery-image">
                        <img src="BildspelPingvin.png" alt="Bild på pingviner" class="gallery-image">
                        <img src="BildspelMarknad.png" alt="Bild från matmarknad" class="gallery-image">
                        <div class="controls">
                            <button id="nextBtn"> &rarr;</button>
                        </div>
                    </div>

                </section>
            </div>

            <div class="grid-item item3">
                <h2>Våra guider</h2>
            </div>
            <div class="grid-item item4">
                <div id="personApp">
                    <!-- Innehåll personer med flexbox -->
                        <div class="flexcontainer">
                                <div class="flex-item">
                                    <div class="projectColumn">
                                        <h3 id="namnRubrik">Simon</h3>
                                        <img src="PorträttSimon.png" alt="Bild på Simon" class="thumb">
                                        <div v-for="person in personer">
                                            <div v-if="person.id === 1">
                                                <h3> {{person.titel}} </h3>
                                                <br>
                                                <p> {{person.kortText}} </p>
                                                <a href="Personal.html?varde=1"> Läs mer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-item">
                                    <div class="projectColumn">
                                        <h3 id="namnRubrik">Måns</h3>
                                        <img src="PorträttMåns.png" alt="Bild på Måns" class="thumb">
                                            <div v-for="person in personer">
                                                <div v-if="person.id === 2">
                                                    <h3> {{person.titel}} </h3>
                                                    <br>
                                                    <p> {{person.kortText}} </p>
                                                    <a href="Personal.html?varde=2">Läs mer!</a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="flex-item">
                                    <div class="projectColumn">
                                        <h3 id="namnRubrik">Fredrik</h3>
                                        <img src="PorträttFredrik.png" alt="Bild på Fredrik" class="thumb">
                                        <div v-for="person in personer">
                                            <div v-if="person.id === 3">
                                                <h3> {{person.titel}} </h3>
                                                <br>
                                                <p> {{person.kortText}} </p>
                                                <a href="Personal.html?varde=3">Läs mer!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-item">
                                    <div class="projectColumn">
                                        <h3 id="namnRubrik">Felix</h3>
                                        <img src="PorträttFelix.png" alt="Bild på Felix" class="thumb">
                                        <div v-for="person in personer">
                                            <div v-if="person.id === 4">
                                                <h3> {{person.titel}} </h3>
                                                <br>
                                                <p> {{person.kortText}} </p>
                                                <a href="Personal.html?varde=4">Läs mer!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="grid-item item5">
                    <h2>Våra resor</h2>
                </div>

                <div class="grid-item item6">
                    <div id="produktApp">
                        <div class="flexcontainer">
                            <div class="flex-item">
                                <div class="projectColumn">
                                    <h3 id="namnRubrik">Sydamerika</h3>
                                    <img src="Guide.png" alt="Bild på Simon" class="thumb">
                                    <div v-for="produkt in produkter">
                                        <div v-if="produkt.id === 1">
                                            <h3> {{produkt.titel}} </h3>
                                            <br>
                                            <p> {{produkt.text}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="projectColumn">
                                    <h3 id="namnRubrik">Asien</h3>
                                    <img src="Tokyo.png" alt="Bild på Måns" class="thumb">
                                    <div v-for="produkt in produkter">
                                        <div v-if="produkt.id === 2">
                                            <h3> {{produkt.titel}} </h3>
                                            <br>
                                            <p> {{produkt.text}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="projectColumn">
                                    <h3 id="namnRubrik">Nordpolen</h3>
                                    <img src="Pingvin.png" alt="Bild på Fredrik" class="thumb">
                                    <div v-for="produkt in produkter">
                                        <div v-if="produkt.id === 3">
                                            <h3> {{produkt.titel}} </h3>
                                            <br>
                                            <p> {{produkt.text}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="projectColumn">
                                    <h3 id="namnRubrik">Afrika</h3>
                                    <img src="Safari.png" alt="Bild på Felix" class="thumb">
                                    <div v-for="produkt in produkter">
                                        <div v-if="produkt.id === 4">
                                            <h3> {{produkt.titel}} </h3>
                                            <br>
                                            <p> {{produkt.text}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div> 
            </div>
            <div class="grid-item item7">
               <div class="flexcontainer">
                 <div class="flex-item">
                   <div class="projectColumn">
                    <a href="Produkter.html">Gå till vår produktsida</a>
                   </div>
                 </div> 
                 <div class="flex-item">
                    <div class="projectColumn">
                     <a href="Produkter.html">Gå till vår produktsida</a>
                    </div>
                  </div>   
                  <div class="flex-item">
                    <div class="projectColumn">
                     <a href="Produkter.html">Gå till vår produktsida</a>
                    </div>
                  </div>   
                  <div class="flex-item">
                    <div class="projectColumn">
                     <a href="Produkter.html">Gå till vår produktsida</a>
                    </div>
                  </div>
               </div>
            </div>       

             
            <div class="grid-item item8">
                    <div class="contact">
                    <h3>Contact Information</h3>
                    <p>Email: info@example.com</p>
                    <p>Phone: (123) 456-7890</p>
                    <p>Address: 123 Main Street, City</p>
                    <br>
                    </div>
                    <footer>
                        <p>&copy; 2023 Your Website</p>
                    </footer>
            </div>
        
</body>
</html>