<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <title>Simon Sjöman</title>
        <script defer src="https://unpkg.com/vue@3"></script>
        <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script> 
        <script defer src="script.js"></script>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Phudu:wght@700&family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
        <header>
            <label for="menu-toggle" id="menuIcon">&#9776;</label>
            <input type="checkbox" id="menu-toggle">
            <ul id="menu">
                <li><a href="Index.html" class="smooth">Hem</a></li>
                <li><a href="Produkt.html" class="smooth">Webbshop</a></li>
                <li><a href="Index.html#infoApp" class="smooth">Om oss</a></li>
                <li><a href="Kontakt.html" class="smooth">Kontakt</a></li>
            </ul>
            <div id="kundvagnApp">
                <div id="cartIcon">
                    <i  class="fa fa-shopping-cart"></i>
                    <span id="cart-counter">{{ cartCount }}</span>
                    <button @click="openCartWindow">Open Cart</button>
                    <div id="cartWindow">
                        <h2>Kundvagn</h2>
                        <button id="closeCartWindow" @click="closeCartWindow">Stäng</button>
                        <p>Totalt: {{ vagnTotal }} sek</p>
                        <ul>
                            <li v-for="(item, index) in vagn" :key="index" class="cart-item">
                                <div class="cart-item-details">
                                    <h3>{{ item.titel }}</h3>
                                    <p>Pris: {{ item.pris }} sek</p>
                                </div>
                                <button @click="removeFromVagn(index)">Ta bort</button>
                            </li>
                        </ul>
                        <button id="kassaKnapp">Till kassan</button>
                    </div>
                </div>    
            </div>
        </header>
        <div class="grid-container">  
            <div class="grid-item item10">
                <div class="rubrik">
                    <h1> Beyond Bounds Adventure</h1>
                    <h3> Här väntar ditt nästa äventyr </h3>
                </div>
            </div>
            <div class="grid-item item11">
                <h1>Simon Sjöman</h1>
            </div>
            <div class="grid-item item12">
                <img src="PorträttSimonSida.png" alt="Bild på Simon" class="thumbPersonal">
            </div>
            <div class="grid-item item13">
                <div class="wrap">
                    <div class="bar" id="barSimon1">
                        <h3> Naturkännedeom </h3>
                        <span> </span>
                    </div>
                    <div class="bar" id="barSimon2">
                        <h3> Fysiskt Uthållig </h3>
                        <span> </span>
                    </div>
                    <div class="bar" id="barSimon3">
                        <h3> Sjukvårdskunskap </h3>
                        <span> </span>
                    </div>
                    <div class="bar" id="barSimon4">
                        <h3> Lokala Språkkunskaper </h3>
                        <span> </span>
                    </div>
                </div>
            </div>
            <div class="grid-item item14">
                <div id="personApp">  
                    <div v-for="person in personer">
                        <div v-if="person.id === 1">
                            <h3> {{person.titel2}}</h3>
                            <hr>
                            <br>
                            <p> {{person.text}} </p>
                            <br>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="projectApp">
            <div class="grid-container">
                <div class="grid-item item15">
                    <h2>Tidigare projekt</h2>
                    <br>
                </div>
                <div class="grid-item item16">
                    <img src="Project1.png" alt="Från en resa" class="thumbPersonal">
                </div>
                <div class="grid-item item170">
                    <div v-for="project in EmployeeProjects">
                        <div v-if="project.id === 1">
                            <h3> {{project.titel}} </h3>
                            <ul>
                                <li> {{project.kund}} </li>
                                <li> {{project.om}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-item item171">
                    <img src="Project2.png" alt="Från en resa" class="thumbPersonal">
                </div>
                <div class="grid-item item172">
                    <div v-for="project in EmployeeProjects">
                        <div v-if="project.id === 2">
                            <h3> {{project.titel}} </h3>
                            <ul>
                                <li> {{project.kund}} </li>
                                <li> {{project.om}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-item item173">
                    <img src="Project3.png" alt="Från en resa" class="thumbPersonal">
                </div>
                <div class="grid-item item174">
                    <div v-for="project in EmployeeProjects">
                        <div v-if="project.id === 3">
                            <h3> {{project.titel}} </h3>
                            <ul>
                                <li> {{project.kund}} </li>
                                <li> {{project.om}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-item item175">
                    <img src="Project4.png" alt="Från en resa" class="thumbPersonal">
                </div>
                <div class="grid-item item176">
                    <div v-for="project in EmployeeProjects">
                        <div v-if="project.id === 4">
                            <h3> {{project.titel}} </h3>
                            <ul>
                                <li> {{project.kund}} </li>
                                <li> {{project.om}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-item item177">
                    <img src="Project5.png" alt="Från en resa" class="thumbPersonal">
                </div>
                <div class="grid-item item178">
                    <div v-for="project in EmployeeProjects">
                        <div v-if="project.id === 5">
                            <h3> {{project.titel}} </h3>
                            <ul>
                                <li> {{project.kund}} </li>
                                <li> {{project.om}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-item item179">
                    <div class="contact">
                        <h3>Kontakt Information</h3>
                        <p>BeyondBoundsAdventure@xtreme.com</p>
                        <p>Telefon: (+46) 456-7890</p>
                        <p>Address: Drottninggatan 3, Örebro</p>
                        <br>
                    </div>
                    <footer>
                        <p>&copy; 2023 Your Website</p>
                    </footer> 
                </div>
            </div>
        </div>
    </body>
</html>