<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <title>Undervisning som forskning</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <ul id="menu">
                <li><a href="">Om Ann-Sofie</a></li>
                <li><a href="#project">Projekt</a></li>
                <li><a href="#blogg">Blogg</a></li>
                <li><a href="">Kontakt</a></li>
            </ul>
        </header>
        <h1>Undervisning som forskning</h1>
        <h2>Framtidens systemvetenskap</h2>
        <div class="grid-container">
            <div class="grid-item item1"><img src="teacher.jpg" alt="En bild föreställande en lärare"></div>
            <div class="grid-item item2">     
                <p class="centeredText">En sida om hur jag ser på utbildning inom systemvetenskap ur ett nutida och framtida perspektiv och hur jag bidrar till att säkerställa kvalitet och relevans i den.</p>        
            </div>
            <div class="grid-item item3">
                <h3>Ann-Sofie Hellberg</h3> 
                <ul>
                    <li>Lektor i informatik</li>
                    <li>Programansvar för det Systemvetenskapliga programmet vid Örebro universitet</li>
                    <li>Kursansvar för Systemutvecklingsprojekt, fortsättningskurs</li>
                </ul>
            </div>
            <div class="grid-item item4">
                <h3>Intressen</h3>
                <ul>
                    <li>AI/LLM</li>
                    <li>Humanity-centered design</li>
                    <li>Webbutveckling</li>
                    <li>Grafisk design</li>
                    <li>Pedagogisk utveckling</li>
                    <li>Vetenskapligt skrivande</li>
                </ul>
            </div>
            <div class="grid-item item5"><h3><a id="projekt">Projekt</a></h3></div>
            <div class="grid-item item6"><h3><a id="blogg">Blogg</a></h3></div>
        </div>



        
        
    </body>
</html>