<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <title>Undervisning som forskning</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" id="menuIcon">&#9776;</label>
            <ul id="menu">
                <li><a href="" class="smooth">Om Ann-Sofie</a></li>
                <li><a href="#projekt" class="smooth">Projekt</a></li>
                <li><a href="#blogg" class="smooth">Blogg</a></li>
                <li><a href="" class="smooth">Kontakt</a></li>
            </ul>
        </header>
        <h1>Undervisning som forskning</h1>
        <h2>Framtidens systemvetenskap</h2>
        <div class="grid-container">
            <div class="grid-item item1"><img src="teacher.jpg"  class="animate delay-1" alt="En bild föreställande en lärare"></div>
            <div class="grid-item item2">     
                <p class="centeredText animate delay-5">En sida om hur jag ser på utbildning inom systemvetenskap ur ett nutida och framtida perspektiv och hur jag bidrar till att säkerställa kvalitet och relevans i den.</p>        
            </div>
            <div class="grid-item item3">
                <h3 class="animate delay-2">Ann-Sofie Hellberg</h3> 
                <ul class="animate delay-3">
                    <li>Lektor i informatik</li>
                    <li>Programansvar för det Systemvetenskapliga programmet vid Örebro universitet</li>
                    <li>Kursansvar för Systemutvecklingsprojekt, fortsättningskurs</li>
                </ul>
            </div>
            <div class="grid-item item4">
                <h3>Intressen</h3>
                <ul class="animate delay-4">
                    <li>AI/LLM</li>
                    <li>Humanity-centered design</li>
                    <li>Webbutveckling</li>
                    <li>Grafisk design</li>
                    <li>Pedagogisk utveckling</li>
                    <li>Vetenskapligt skrivande</li>
                </ul>
            </div>
            <div class="grid-item item5"><h3 id="projekt">Projekt</h3>
                <div class="flexContainer"> 
                    <div class="flexItem">
                        <div class="projectColumn">
                            <img src="opportunities.jpg" alt="Det finns stora möjligheter med ökad AI-användning" class="thumb">
                            <h3>Möjligheter med AI</h3>
                            <p>Den ökade användningen av olika AI-verktyg och LLM:s innebär att vissa arbetsuppgifter kan effektiviseras och frigöra tid för annat, t ex användaranalys, innovation mm. Det ger möjlighet att utveckla mer avancerade lösningar som bidrar till högre kvalitet för framtida användare och som även kan lösa globala problem. Teknik kan hjälpa till med utmaningar så som klimatkrisen, ökade klyftor etc...</p>
                            <a href="readmore.html"><p>Läs mer</p></a>                    
                        </div>
                    </div>
                    <div class="flexItem">
                        <div class="projectColumn">
                            <img src="risks.jpg" alt="Det finns risker med ökad AI-användning" class="thumb">
                            <h3>Risker med AI</h3>
                            <p>Den ökade användningen av olika AI-verktyg och LLM:s innebär risker. T ex kommer mängden falsk information att öka lavinartat framöver vilket kommer göra det svårt att veta om beslut tas på rätt grunder. Mängden genererad kod i våra informationssystem kommer att öka och om detta inte sker tillsammans med kritisk granskning kan det snabbt uppstå stora säkerhetsproblem...</p>
                            <a href="readmore.html"><p>Läs mer</p></a>                    
                        </div>
                    </div> 
                    <div class="flexItem">
                        <div class="projectColumn">
                            <img src="games.jpg" alt="Gamification in education" class="thumb">
                            <h3>Gamification in education</h3>
                            <p>Gamification blev populärt på 2010-talet, och lärare anammade det snabbt som ett sätt att överföra de motiverande effekterna av spel till inlärningssituationer. Det snabba genomförandet av gamification utan ordentlig planering ledde dock till ett missförstånd av konceptet, nämligen att användningen av poäng och belöningar räcker. Gamification i utbildning kräver dock en noggrann planering och ett speltänkande när det gäller utformningen av lärmiljön....</p>
                            <a href="readmore.html"><p>Läs mer</p></a>                    
                        </div>
                    </div>
                    <div class="flexItem">
                        <div class="projectColumn">
                            <img src="teacher2.jpg" alt="Pedagogisk utveckling" class="thumb">
                            <h3>Systemvetenskap med relevans för framtiden</h3>
                            <p>Riktlinjer för hur utbildning inom systemvetenskap bör utformas har historiskt fokuserat mycket på kursernas innehåll och varit relaterat till programmering, systemutvecklingsmetoder mm. Utformningen av utbildningarna och dess riktlinjer har baserats på tanken att examinerade studenter förväntats arbeta med t ex framtagning av administrativa system hos företag för att underlätta deras verksamhet. Idag står vi inför helt andra utmaningar. Färdigheter för att utveckla kreativa lösningar på komplexa problem blir allt viktigare för att adressera de globala utmaningar som vi idag ställs inför...</p>
                            <a href="readmore.html"><p>Läs mer</p></a>                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item item6"><h3 id="blogg">Blogg</h3></div>
        </div>       
    </body>
</html>