/* Reset some default styles for the entire page */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the header and navigation menu */
header {
    background-color: #222;
    color: #fff;
    padding: 0.5em 0.5em;
    margin: 0 0 -1em 0;
    background-attachment: fixed;
    
}
.rubrik{
        background-color: #333;
        color: #fff;
        text-align: center; 
        margin: 0 -1em 0 -1em;
        padding: 0.5em;
        
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.rubrik 
{
    text-align: center;
}
.rubrik h3
{
    margin-top: 0.2em;
}
/* Style the large gallery section */
.gallery {
    padding: 10px;
    text-align: center;
}
/* Slideshow Container */
.slideshow {
    display: flex; /* Display images in a row */
    animation: slide 35s linear infinite; /* Adjust the duration as needed */
}

/* Style the individual slides */
.gallery-image {
    display: none;
    height: 60%;
    width: 75%; /* Adjust the width to your desired size */
    margin: 0 auto; /* Center the image horizontally */
}
#prevBtn {
    float:left;

}

#nextBtn {
    float: right;
}

.controls button {
    background-color: #333;
    color: #fff;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 45%;
    font-size: 1em;
}

/* Style the text section */
.text {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
}

/* Style the flexbox section */
/* .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
} */



/* Style the contact section */
.contact {
    background-color: #333;
    color: #fff;
    /* padding: 20px; */
    text-align: center; 
    margin: 0 -1em 0 -1em;
    
}

.contact h3 {
    font-size: 20px;
}

.contact p {
    font-size: 16px;
    margin: 0 0 1em 0;
   
}

/* Style the footer */
footer {
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
    margin: -1em -1em 0 -1em;
}


.grid-container {
    display: grid;
    
}
.grid-item {
    
    margin: 1em 1em 0 1em;
    
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1em;
    align-self: center;
}
.projectColumn {
    width: 295px;
}
.projectColumn h3 {
    text-align: center;
    }

img {
    width: 100%;
}
.thumb {
    width: 100%;
}
.item3
{
    text-align: center;
}
.item10{
    background-color: #333;
    text-align: center;
    margin: 1em 0 -1em 0;
}
.item11 {
    text-align: center;
}
.item14{
    text-align: center;
}
#namnRubrik
{
    text-align: center;
    margin: 1em 0 0 0;
}
.error-message {
    color: red;
    font-size: 14px;
}

/* centrerar sliderbaren på sidan */
.wrap
{
  max-width: 60%;
  margin: 150px auto 0; 
}

/* stil för barsen*/
.bar
{
  color:#000000;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
  position:relative;
}

/* stil för själva bars-elementen*/ 
.bar span
{
  position:relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  height: 25px;
  background: #000000db;
  border-radius: 50px;
}

/* stil och animation för de animerade barsen*/
.bar span:before
{
  position: absolute;
  content:'';
  top: 6px;
  left: 5px;
  width: 80%;
  height: 50%;
  background: linear-gradient(to left, rgb(155, 155, 159), rgb(231, 230, 227));
  border-radius: 50px;
  animation: bar 4s ease;
}

/* hur stor bar 1 ska bli*/
.bar:nth-child(1) span:before
{
  width:60%;
}

/* hur stor bar 2 ska bli*/
.bar:nth-child(2) span:before
{
  width:80%;
}

/* hur stor bar 3 ska bli*/
.bar:nth-child(3) span:before
{
  width:50%;
}

/* hur stor bar 4 ska bli*/
.bar:nth-child(4) span:before
{
  width:90%;
}

/* för att möjligöra animationen */
@keyframes bar
{
  from
  {
    width:0; 
  }
 
}
/* CSS for 1280px and more */
@media only screen and (min-width: 1280px) {
    .item1 {
        grid-column: 1 / span 4;
        grid-row: 1;
    }
    .item2 {
        grid-column: 1 / span 4;
        grid-row: 2 / span 2;
    }
    
    .item3 {
        grid-column: 1 / span 4;
        grid-row: 4;
    }
    .item4 {
        grid-column: 1 / span 4;
        grid-row:  5/ span 2;
    }
    .item5 {
        grid-column: 1 / span 4;
        grid-row: 7;
    }
    
    .item6 {
        grid-column: 1 / span 4;
        grid-row: 8;
    }
    .item7 {
        grid-column: 1 / span 4;
        grid-row: 9;
    }
    img {
        width: 35vw;
    }
    .item10{
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .item11 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    
    .item12 {
        grid-column: 1;
        grid-row: 3;
    }
    .item13 {
        grid-column: 2;
        grid-row: 3;
 
    }
    .item14 {
        grid-column: 1 /span 2;
        grid-row: 4;
    }
    .item15 {
        grid-column: 1 / span 2;
        grid-row: 5;
    }

}